.dropDown{
    position: absolute;
    margin-top: 10rem;
    margin-right: 1rem;
    right: 0;
    background-color: #fff;
    width: 21.9rem;
    height: 10rem;
    z-index: 999;
    border-radius: 5px;
}