@import "../../../assets/sass/variables";

.container {
    // margin: 8rem auto;
    // background-color: var(--color-bg-dark);
    // box-shadow: var(--shadow-dark);

    min-height: 50rem;

    &_base {
        // max-width: 120rem;

        @media only screen and (max-width: $bp-large) {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
    }

    &_auth {
        min-height: 45rem;
        max-width: 50rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
    }
}