.navLink {
    align-self: stretch;

    display: flex;
    align-items: center;
    position: relative;

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }

}
